body {
    margin: 0;
    width: 550px;
    font-size: 14px;
    background-color: #464545;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black; /* Change text color to black for better contrast */
    border-bottom: 2px solid;
    border-color: #474747;
    padding: 1rem;
    background-color: #3d3d3d; /* Set background color to white */
}


#action-btn-container {
    display: flex;
    gap: 0.5rem;
}

.input-container {
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* #model-dropdown-btn {
    display: flex;
    gap: 0.5rem;
    outline: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    background-color: #474747;
    border-radius: 12px;
    border: 1px solid #474747;
    cursor: pointer;
} */

/* #model-dropdown-btn:hover {
    background-color: #474747;
} */

/* #model-dropdown-btn-text {
    pointer-events: none;
} */


.active {
    background-color: #474747 !important;
}

/* #model-dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #474747;
    min-width: 100%;
    overflow: auto;
    z-index: 1;
    padding: 0.5rem;
    margin-top: 6px;
    width: max-content;
    border-radius: 12px;
    gap: 0.5rem;
} */

/* .model-dropdown-btn {
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
} */

/* .model-dropdown-btn:hover {
    background-color: #474747;
} */

#user-input {
    width: 100%;
    outline: none;
    color: white;
    font-family: inherit;
    padding: 10px;
    background-color: #3b3b3b;
    border-radius: 12px;
    border: none;
    resize: none;
    min-height: 38px;
    max-height: 100px;
    height: auto;
}

#chat-container {
    height: 450px;
    position: relative;
}

#chat-container::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #3d3d3d);  */
    pointer-events: none;
}

#chat-messages {
    display: flex;
    flex-direction: column;
    height: 95%;
    overflow-y: scroll ;
    scroll-behavior: smooth;
    gap: 0.5rem;
    padding: 1rem;
    background-color: #464646;
}

.message {
    padding: 10px 20px;
    border-radius: 8px;
    width: fit-content;
    max-width: 90%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.message:last-child {
    margin-bottom: 1rem;
}

.assistant {
    color: rgb(27, 27, 27);
    background-color: #f3f3f3;
}

.user {
    color: rgb(255, 255, 255);
    background-color: #4b4b4b;
    margin-left: auto;
}

.system {
    color: rgb(243, 243, 243);
    background-color: #474747;
}

.action-btns {
    display: flex;
    gap: 0.5rem;
    margin-left: auto;
}

/* .action-btn {
    color: #008001;
    cursor: pointer;
}

.action-btn:hover {
    color: #006600;
} */

/* .delete-btn {
    color: #008001;
    cursor: pointer;
} */

#send-btn {
    color: rgb(255, 255, 255);
    padding: 10px;
    background-color: #3b3b3b;
    border-radius: 12px;
    border: 1px solid #474747;
    cursor: pointer;
    width: 38px;
    height: 38px;
}

#send-btn:disabled {
    background-color: #474747;
    cursor: not-allowed;
}

#send-btn:hover {
    background-color: #474747;
}

#action-btns {
    display: flex;
    gap: 0.5rem;
}

#settings-btn {
    color: white;
    padding: 10px;
    background-color: #474747;
    border-radius: 12px;
    border: 1px solid #474747;
    cursor: pointer;
    width: 38px;
}

#settings-btn:hover {
    background-color: #474747;
}

#clear-chat-btn {
    color: white;
    padding: 10px;
    background-color: #474747;
    border-radius: 12px;
    border: 1px solid #474747;
    cursor: pointer;
    margin-left: auto;
    width: 38px;
}

#clear-chat-btn:hover {
    background-color: #474747;
}

#clear-chat-btn:disabled {
    background-color: #474747;
    cursor: not-allowed;
}

.code-block {
    background-color: #474747;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 12px;
    overflow: scroll;
}

#assistant-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 1rem;
    gap: 0.5rem;
}

.assistant-info-icon {
    width: 60px;
    height: 60px;
    align-items: center;
}

.assistant-info-text {
    color: white;
    font-size: 1.5rem;
    font-weight: lighter;
    margin: 0;
}


.hidden {
    display: none;
}


.dropdown {
    position: relative;
    display: inline-block;
}

#settings-btn {
    background-color: #474747;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#model-dropdown-btn {
    background-color: #444444;
    color: rgb(255, 255, 255);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

/* Ensure there's no hover effect for the model dropdown button */
/* #model-dropdown-btn:hover {
    background-color: #ffffff; /* Ensure background remains white on hover 
}*/

#model-dropdown-btn i, #settings-btn i {
    margin-right: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: -140px; /* Adjust this value based on your button's width */
    background-color: #f5f5f5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    margin-top: 0px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #c4c4c4;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* General Markdown Styling */
.message.assistant {
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: #2c2c2c;
    border-radius: 7px;
    margin: 5px 0;
    white-space: pre-wrap; /* Preserves formatting */
}

/* Heading Styles */
.message.assistant h1, 
.message.assistant h2, 
.message.assistant h3, 
.message.assistant h4, 
.message.assistant h5, 
.message.assistant h6 {
    font-weight: bold;
    margin: 10px 0;
}

/* .message.assistant pre {
    background-color: #272822;
    color: #f8f8f2;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}  */


#url-link{
    text-decoration: none;
    text-align: center;
    margin-top: 1%;
    font-size: 10px;
    color: #ffffff;
}

#title{
    margin-top: 10%;
    text-align: center;
    color: #ffffff;
}
#title i{
    font-size: 60px;
    color:#ffffff;
    display:block;
    margin: 0 auto;
}

/* Spinner styles */
.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -25px;
    margin-left: -25px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top-color: #000000;
    animation: spin 1s infinite linear;
    z-index: 1001; /* Ensure it's on top */
}

.hidden {
    display: none;
}

/* Background blur */
.blur {
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
}

/* Keyframes for spinner animation */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.example-prompts {
    color: #f5f5f5;
    background-color: #4b4b4b;
    border: none;
    border-radius: 15px; /* Default border radius */
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); */
    padding: 10px 10px;
    font-size: 1.5em;
    width: auto; /* Width will now adjust according to the text length */
    margin: 50px auto;
    line-height: 1.5em;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    transition: background-color 0.3s, border-radius 0.3s, padding 0.3s; /* Smooth transitions */
}

.example-prompts i {
    color: #ffaaaa;
    margin-right: 15px;
    margin-left: 10px;
}

.example-prompts span {
    margin-right: 15px;
}

#exmaple_1,
.example-prompts i {
    transition: opacity 0.5s ease-in-out;
}



.message.typing-dots {
    display: flex; /* Ensures horizontal alignment */
    gap: 4px; /* Adds spacing between dots */
    align-items: center; /* Aligns dots vertically in their row */
    justify-content: flex-start; /* Ensures they align to the left */
}


.message.typing-dots .dot {
    width: 4px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 60%;
    animation: typingDots 1.5s infinite;
}

.message.typing-dots .dot:nth-child(2) {
    animation-delay: 0.2s;
}

.message.typing-dots .dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes typingDots {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}
